:root{
  --black: #171c28 ;
  --white:#fafafafa;
  --truewhite:#000000;
  --litegrey:rgb(211, 211, 209);
  --navbutton:rgba(0, 0, 0, 0.299);
  --grey:grey;
  --lowblack:rgba(0, 0, 0, 0.291);
  --text:black;
  transition: 1s;
  --backshade:linear-gradient(to top , rgba(235, 235, 235, 0.746),rgba(255, 255, 255, 0.762));
}
[data-theme="Dark"]{
  --trueblack: #171c28 ;
  --truewhite:#ffffff;
  --backshade:rgba(13, 13, 13, 0.473);
  --black: rgb(255, 255, 255) ;
  --white:#171c28;
  --litegrey:rgb(211, 211, 209);
  --navbutton:#dfdfdf;
  --lowblack:rgba(255, 255, 255, 0.291);
  --text:white;
    transition: 1s;
}
*{
  /* border: 0.5px solid red; */
  /* background-color:var(--white); */
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* font-size:18px; */
}

.App{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: var(--white);
color: var(--text);
}
nav {
  /* border: 1px solid black; */
  max-height: 10%;
  /* background-color: aqua; */
  /* box-shadow: 1px 4px 6px black; */
}
.navmain .link{
  text-decoration: none;
  color: var(--black);
  padding: 7px 14px 7px 14px;
}
.navmain li{
  cursor: pointer;
  list-style: none;
  display: inline;
  margin: 5px;
}
.navmain{
  padding: 50px 0px 25px 0px;
}
.navmain ul{
  padding: 20px 0px 20px 0px;
  text-align: center;
}
/* nav>div{
  /* align-items: center; */
  /* background-color: aqua; }
*/
.navmain li:hover>.link,li:hover{
  /* background-color:var(--black); */
  border-radius: 30px;
  color: var(--black);
  background-color: var(--white);
}
.navmain .getintouch:hover>.link{
  transition: 0.5s;
  border-radius: 10px;
  /* background: var(--litegrey); */
  background-color: var(--white);
  color: var(--black);
}
.link:hover{
  box-shadow: 0px 0px 2px var(--navbutton) ;
}
.content {
  /* background-color: rgba(255, 255, 255, 0.385); */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.186);
  height: 82vh;
}
.contentcont{
  word-wrap: break-word;
}
.content_socialmedia{
  height: 500px;

}
.content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.tittle{
  text-align: center;
}

.tittle h1{
  font-weight: bold;
  font-variant: small-caps;
  font-size: 6vh;
}
.tittle span{
  font-size: smaller;
  font-variant:small-caps;

}
.logo{
  position: absolute;
  top: 7px;
  left: 7px;
  text-decoration: none;
  color: var(--black);
  padding: 6px 5px 0px 5px;
  font-size: 25px;
  transition: 0.5s;
  }
.logo:hover{
  background-color: var(--litegrey);
  padding: 6px 5px 3px 5px;
  border-radius: 15px 10px;
}
a img{
  height: 25px;
}
.content_socialmedia{
  padding-top: 10%;
}
.socialmedias{
  padding: 50px 15px 0px 15px;
}
.fixedmatter{
  position: fixed;
  bottom: 5%;
  right: 3%;
  cursor: pointer;
  background-color: var(--black);
  padding:10px 10px 5px 7px;
  font-size: 30px;
  border-radius: 25px 15px 25px 15px;
}
.fixedmatter >a{
  color: var(--white);
}
.socialmedias a{
  font-size: 20px;
  background-color: var(--black);
  padding: 15px 15px 10px 15px;
  margin: 5px;
  border-radius: 30px 30px 30px 30px ;
  color: var(--white);
  border: 1px solid var(--white);
  /* padding-bottom: 80px; */
}
.socialmedias a:hover{
  background-color: var(--white);
  border: 1px solid var(--black);
  color: var(--black);
  transition: 0.3s;
}

.tittle_socialmedia{
  text-align: center;
}
.conme{
  margin-top: 80px;
  border:1px solid var(--black);
  padding: 10px 15px 10px 15px;
  outline: none;
  background-color: var(--white);
  color: var(--black);
}
.conme:hover{
  background-color: var(--black);
  color: var(--white);
}
.footer{
  height:80px;
  width: 100%;
  background-color: var(--backshade);
}
.main_socialmedias a{
/* color: var(--white); */
color: var(--truewhite);
margin: 0px 0px 0px 15px;
}
.mainpagebtn{
  padding: 7px 15px 7px 15px;
  background-color: var(--backshade);
  color: var(--white);
  border: 1px solid var(--white);
}
.mainpagebtn:hover{
  background-color:rgb(53, 52, 52);
  border:1px solid var(--white);
}
div.main_socialmedias{
  /* background-color: transparent; */
  position: relative;
  top: 45%;
}
div.contactme{
  /* background-color: aquamarine; */
  position: relative;
  left: 80%;
  top: 31%;
  width: 20%;
}
.contactme_socialmedias{
  text-align: center;
  position: relative;
  top: 50%;
}
.contactme_socialmedias a{
  color: var(--white);
  padding: 10px;
  background-color: var(--black);
  border-radius: 20px;
}

.contact_contents h2{
  font-weight: 50;/* background-color: aqua; */
  text-align:center;
}

.contact_contents {
  position: relative;
  top: 50px;
  text-align: center;
}
.main_content{
  display: flex;
  justify-content: center;
}
.main_content input{
  padding: 13px;
  width: 80vw;
  color: var(--black);
  background: none;
  outline: none;
  border: none;
}
.contact_contents fieldset{
  margin: 20px 0px;
  border-radius: 8px;
  width:100%;
}
.main_content filter{
  width: fit-content;
}
/* background: #000; */
.largebox{
  padding: 13px;
  margin: 5px;
  height:200px;
  max-height: 350px;
  min-width: 70%;
  max-width: 80%;
  background: none;
  outline: none;
  border: none;
  color: var(--black);

}
.contact_contents{
  height:700px;
}
.main_content label{
  text-align: end;
}
.send_button{
  padding: 10px 20px 10px 20px;
  border-radius: 0;
}
.changeLogo{
  border: none;
  background-color:var(--black);
  opacity: 20%;
  outline: none;
  font-size: 20px;
  color: var(--white);
  padding: 5px 5px 0px 5px;
  border-radius: 50px;
  position:absolute;
  right: 10px;
  top: 10px;
  opacity: 50%;
}
.changeLogo:hover{
  /* opacity: 100%; */
  opacity: 90%;
  box-shadow: 0px 0px 5px 3px var(--black) ;
  transition: 0.3s;
}

h3 {
  /* background: #000; */
  /* color: white; */
  text-align:center;
  padding-bottom: 5px;
  font-variant: small-caps;
  /* border-bottom: 1px solid var(--black); */
}
.navbar{
  position: sticky;
  top: -50px;
  transition: 0.5s;
  /* background: #000; */
}
.addcolor{
  /* filter:blur(30px); */
  /* background:linear-gradient(to right top ,var(--white), var(--white));  border-radius: 10px; */
  background: var(--white);
/* box-shadow: #1e1e1eac 2px 0px 10px; */
  /* color: #dfdfdf; */
  /* margin: 2px; */
  /* background-color: rgb(255, 44, 44); */
}
/* .addcolor .link{
  background-color: aqua;
  color:black;
} */
nav{
  z-index: 5;
}
.CompleteContent{
  z-index: 0;
}
.getintouch{
  position: absolute;
  bottom: 30px;
  right: 50px;
  background: var(--litegrey);
  padding: 7px 0px;
  border-radius: 5px;
  /* box-shadow: 0px 0px 2px var(--navbutton) ; */
}
.getintouch:active{
  transform: scale(1.05);
}


/* -----------------------------------subcomponent js ----------------------------------------------- */
.academic{
  margin: 30px auto;
  font-size: 13px;
  display: grid;
  text-align: center;
  width: 80%;
  grid-template-columns: repeat(2,50%);
}
.academicdetials{
  word-wrap: break-word;
  grid-column:2 ;
  padding: 25px;
  border-left :2.3px solid var(--black) ;
}
.academicdetials>p{
  background:var(--grey);
  color: white;
  padding: 5px;
  position: relative;
  transform: translate(-27px);
  width: 35%;
  border-radius: 20px;
  margin: 5px;
}

.frame{
  /* border-right: 1px solid var(--black);
  border-bottom: 1px solid var(--black); */
  /* background: #acacac; */
  padding: 15px 5px 15px 5px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px var(--lowblack);
  
}
.acd2 > .frame{
  border: none;
  /* border-right: 1px solid var(--black);
  border-bottom: 1px solid var(--black); */
}
.acd2{
  box-shadow: 2.2px 0px 0px 0px var(--black);
  border: none;
  grid-column: 1;
  left: 10px;
}
.acd2>p{
  color: var(--white);
  transform: translate(177%);
  /* transform: translate(2.3em); */
  /* transform: translate(31.5em,1.5em); */

}
.acd2>p{
  color: white;
  transform: translate(177%);
  /* transform: translate(2.3em); */
  /* transform: translate(31.5em,1.5em); */

}
.acd3{
  grid-row: 3;
}
.thisisblock{
  margin-top:50px;
  background: var(--backshade);
  height:96vh;
  display: flex;
  flex-direction:column ;
  align-items: center;
  justify-content: center;
}

/* -----------------------------------about js ----------------------------------------------- */
.introductionheight{
  height:85vh;
}
.introduction{
  height:fit-content;
  width: 85%;
  padding: 20px 0px 0px 0px;
  margin: 0px auto;
  background:var(--backshade);
  text-align: center;
  border-radius: 40px;
  box-shadow: 1px 2px 5px rgba(91, 90, 90, 0.277);
}
.introduction div{
  margin: 5px;
}

.introductioncontent{
  width: 95%;
  line-height: 27px;
  padding: 30px 20px;
  margin: 10px;
  /* width:50%; */
}
.introduction .image{
  width: 200px;
  height: 200px;
  border-radius: 500px;
   background:url("https://i.ibb.co/LzfQpV1/2013021-DIVAKARAN-S.jpg") no-repeat 0px -10px ;
   background-size:cover;
  margin:  1px auto;

} 
/* -----------------------------------gabout js( certificate ) ----------------------------------------------- */
.subheading{
  background: var(--black);
  color:var(--white);
  padding: 7px 12px;
  width: fit-content;
  box-shadow: 0px 2px 3px rgba(79, 78, 78, 0.304);
  margin: 0px auto;
  border-radius: 20px;
}
.certificatediv{
  padding: 10px;
  text-align: center;
  height: 70vh;
}
.certifcateslides{
  margin: 0px auto;
  height: 55vh;
  background-color: var(--backshade);
  width: 80%;
  margin-bottom: 25px;
}
.certificateimg {
  height:40vh;
  padding: 20px;
}
.certificatedescription{
  color: var(--black);
  width: 88%;
  margin: 0px auto;
  line-height: 30px;
}
.navigationbtn{
  font-size: 30px;
  padding: 0px 15px ;
  margin: 0px 20px ;
  font-weight: 100;
  box-shadow: 1px 1px 6px rgba(245, 245, 220, 0.622);
  border-radius: 100px;
  outline: none;
  border: none;
}
.navigationbtn:hover{
  background-color: #dfdfdfa5;
}
/* -----------------------------------gallery js ----------------------------------------------- */
.photo1{
  grid-area: one;
}
.photo2{
  grid-area: two;
}
.photo3{
  grid-area: three;
}
.photo4{
  grid-area: four;
}
.photo5{
  grid-area: five;
}
.gallery{
  margin: 25px;
  display: grid;
  gap: 1rem;
    grid-template-areas:
    'one two three'
    'four five five'  ;
    padding: 2rem;
}
.galleryphoto{
  height :200px;
  background: #000;
  border: 2px solid green;
}

.buttonlink{
  text-decoration: none;
  color: var(--white);
  background: var(--black);
  padding: 5px 8px 5px 8px;
  border-radius: 5px;
}

/* -----------------------------------Project js ----------------------------------------------- */

.project_cards{
  /* text-align: center; */
  position: sticky;
  top:50px;
  height: 100vh;
  width: 100%;
  background: white;
  box-shadow:0px 0px 15px rgba(0, 0, 0, 0.128);
}
.project_cards:last-child{
  height: 85vh;
}
.projectCenterContent:only-child{
    text-align: center;
}

.projectCenterContent img{
  border-radius: 7px;
  height: 40vh;
  width: 70vh;
  margin: 6% auto 10px auto;
}
.hoverindication{
  /* position: absolute;
  top: 40%;
  left: 50%; */
  font-size: smaller;
  font-variant: small-caps;
  /* transform: rotate(90deg); */
}
.projectdescription{
  padding: 20px;
}
.projectdescription p{
  padding: 10px;
}
.imgediv{
  display: inline;
}
.imgediv:hover img{
  opacity: 80%;
  transition: 0.5s;
  filter: blur(2px);
}
.linkbutton{
  /* margin: 20px; */
  position: absolute;
  top: 35%;
  left: 48%;
  visibility: hidden;

}
.imgediv:hover .linkbutton{
  visibility: visible;
}
.linkbutton button{
  padding:18px 18px 15px 18px;
  font-size:10px;
  background: #ffffffa9;
  border-radius: 100px;
  border: none;
  font-size: large;
}
.linkbutton p{
  padding: 10px;
  text-shadow: 1px 1px 0px black;
  /* background: #000; */
}
/* -----------------------------------MAinCOntent ----------------------------------------------- */
.icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  font-variant: small-caps;
  margin-top: 30%;
}
.icon div{
  font-size: 6vh;
  height:10px;
  width:10px;
  border-left: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
  transform: rotate(315deg);
  padding: 5px;
  margin: 5px;
}
.icon:hover{
  transition: 0.5s;
  scale: 1.1;
}
.Maincontentdetials{
  margin: 50px;
}
.Maincontentdetials a{
  margin: 15px;
  text-decoration: none;
}
.Maincontentdetials a:last-child{
    color: var(--black);
  }
  .resumebtn{
    border: 2px solid black;
    background: var(--black);
    color: var(--white);
    padding: 5px 10px 5px 10px;
    border: 2px solid white;
    border-radius: 50px;
}

.captial{
  font-variant: small-caps;
}
/* -----------------------------------Myskills ----------------------------------------------- */
.Myskill_contents{
  /* background: pink; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
.skillbox{
    padding: 20px;
    height: 25vh;
    width: 25vh;
    border-radius: 12px;
    background :rgba(255, 255, 255, 0.47);
    margin: 7px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.273);
  }
  .skillbox:hover{
    background: linear-gradient(transparent,rgba(12, 142, 185, 0.636));
    border: 0px solid transparent;
    /* border-bottom: 2px solid rgba(196, 230, 241, 0.636); */
}

.skillimage img{
  margin: 10px auto;
  object-fit: contain;
  height: 100px;
  width: 100%;
  }
.skillcontent{
  text-align: center;
  /* color: white; */
  font-weight: bolder;
  }
.skill .subheading{
  margin-top: 50px;
}
.skillsets{
  padding: 5px;
  margin:5% 0px;
}
/* -----------------------------------sidenavigator ----------------------------------------------- */
.sidenavigationbar{
  position: fixed;
  top: 40%;
  right:1%;
}
.sidenavigationbar ul{
  list-style: none;
}
/* .sidenavigationbar:hover li::before{
  content: "hai";
  border: 1px solid black;
  background: gray;
  margin: 2px;
  padding: 1px 2px 1px 2px;
} */
.sidelink{
  cursor: pointer;
  padding: 5px;
  background: var(--black);
  border-radius: 10px;
}
.sidenavigationbar li{
  margin: 30px 0px;
}
.sidenavigationbar .sidelink:hover{
  transition: 0.2s;
  scale: 1.5;
}

/*
mobile devices
*/
@media screen and (max-width:878px) {
/* @media screen and (max-width:500px) { */
  .tittle {
    font-size: 2vh;
  }
  .tittle h1{
    font-size: 3.8vh;
  }
  .Maincontentdetials a:last-child{
    display: block;
  }
  .contentintro .image{
    display: none;
    /* background: #000; */
  }
  .getintouch{
    display: none;
  }
  .academic{
    display: inline;
    position: static;
  }
  .academicdetials{
    border: none;
  }
  .academicdetials>p{
    transform: translate(0px);
    border-radius: 5px;
  }
  .gallery{
    display: inline;
  }.galleryphoto{
      margin:5px ;
  }
  .acd2{
    box-shadow: none;
  }
  .introduction{
    width: 95%;
    padding: 15px 0px;

  }
  .introductioncontent{
    padding: 5px 0px;
    text-align:left;
    /* background: #000; */
  }
  .projectCenterContent img{
    width: 100%;
  }
  .yes{
    background-color:red
  }

  .linkbutton{
    top: 25%;
    left: 44%;
  }
  .getintouch{
    visibility: hidden;
  }
  .certificateimg{
    height: 28vh;
  }
  .certifcateslides{
    width: 100%;
    height: 56vh;
  }
  .certificatedescription{
    margin: auto 20px;
    font-size: 15px;
    line-height:21px;
  }
  .introductionheight{
    height: fit-content;
    margin-bottom: 25px;
  }
  .footer{
    height: 83px;
  }
  .content_socialmedia{
    padding:0px;
    margin-top: 43% ;
    height:50vh;
  }
  .main_content input{
    padding: 13px;
  }
  .largebox{
    width: 80vw;

    margin: 0px;
  }
  .contact_contents fieldset{
    margin: 20px 0px;
    border-radius: 8px;
    width:80%;
  }
  
}
@media screen and (max-width:330px) {
  .navmain .link{
    text-decoration: none;
    color: var(--black);
    padding:5px 5px;
  }
  *{
    /* border: 1px solid blue; */
  }
}
