:root{
  --black: rgb(0, 0, 0) ;
  --white:#ffffff;
  --litegrey:rgb(211, 211, 209);
  --navbutton:rgba(0, 0, 0, 0.299);
}
[data-theme="Dark"]{
    --black: rgb(255, 255, 255) ;
    --white:#000000;
    --litegrey:rgb(211, 211, 209);
    --navbutton:#dfdfdf;
    transition: 1s;
}
*{
  /* border: 0.5px solid red; */
  /* background-color:var(--white); */
  padding: 0;
  margin: 0;
}

.App{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: var(--white);
color: var(--black);
}
.contentintro{
  /* background: #f84141; */
  /* float: left; */
  height: 420px;
  display: flex;
  flex-wrap: wrap;
}
.contentintro .image{
  position: relative;
  left: 25%;
  height: 550px;
/* background: #000; */
}

nav {
  /* border: 1px solid black; */
  max-height: 10%;
  /* background-color: aqua; */
  /* box-shadow: 1px 4px 6px black; */
}
li .link{
  text-decoration: none;
  color: var(--black);
}
li{
  cursor: pointer;
  /* background-color:aqua; */
  list-style: none;
  display: inline;
  padding: 7px 14px 7px 14px;
  margin: 5px;
}
ul{
  padding: 60px 15px 10px 15px;
  text-align: center;
}
/* nav>div{
  /* align-items: center; */
  /* background-color: aqua; }
*/
li:hover>.link,li:hover{
  /* background-color:var(--black); */
  border-radius: 30px;
  color: var(--black);
}
li:hover{
  box-shadow: 0px 0px 2px var(--navbutton) ;
}
.content {
  /* background-color: rgba(255, 255, 255, 0.385); */
  /* padding-top: 15%; */
  height: 550px;
  margin: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.186);
}
.content_socialmedia{
  height: 500px;

}
.tittle{
  position: relative;
  top: 55%;
  left: 15%;
  width: 30%;
  height: 20%;
  padding: 15px;
  text-align: center;
  /* background:linear-gradient(to left right rgba(162, 160, 158, 0.181) ); */
}
.tittle p{
  font-weight: bold;
  font-size:x-large;
}
.tittle span{
  font-size: smaller;
  font-variant:small-caps;
}
.logo{
  position: absolute;
  top: 7px;
  left: 7px;
  text-decoration: none;
  color: var(--black);
  padding: 6px 5px 0px 5px;
  font-size: 25px;
  transition: 0.5s;
  }
.logo:hover{
  background-color: var(--litegrey);
  padding: 6px 5px 3px 5px;
  border-radius: 15px 10px;
}
a img{
  height: 25px;
}
.content_socialmedia{
  padding-top: 10%;
}
.socialmedias{
  padding: 50px 15px 0px 15px;
}
.fixedmatter{
  position: fixed;
  bottom: 5%;
  right: 3%;
  cursor: pointer;
  background-color: var(--black);
  padding:10px 10px 5px 7px;
  font-size: 30px;
  border-radius: 25px 15px 25px 15px;
}
.fixedmatter >a{
  color: var(--white);
}
.socialmedias a{
  font-size: 20px;
  background-color: var(--black);
  padding: 15px 15px 10px 15px;
  margin: 5px;
  border-radius: 30px 30px 30px 30px ;
  color: var(--white);
  border: 1px solid var(--white);
  /* padding-bottom: 80px; */
}
.socialmedias a:hover{
  background-color: var(--white);
  border: 1px solid var(--black);
  color: var(--black);
  transition: 0.3s;
}

.tittle_socialmedia{
  text-align: center;
}
.conme{
  margin-top: 80px;
  border:1px solid var(--black);
  padding: 10px 15px 10px 15px;
  outline: none;
  background-color: var(--white);
  color: var(--black);
}
.conme:hover{
  background-color: var(--black);
  color: var(--white);
}
.footer{
  height: 200px;
  width: 100%;
  background-color: rgb(96, 93, 93);
}
.main_socialmedias a{
color: var(--white);
margin: 0px 0px 0px 15px;
}
.mainpagebtn{
  padding: 7px 15px 7px 15px;
  background-color: rgb(96, 93, 93);
  color: var(--white);
  border: 1px solid var(--white);
}
.mainpagebtn:hover{
  background-color:rgb(53, 52, 52);
  border:1px solid var(--white);
}
div.main_socialmedias{
  background-color: transparent;
  position: relative;
  top: 45%;
}
div.contactme{
  /* background-color: aquamarine; */
  position: relative;
  left: 80%;
  top: 31%;
  width: 20%;
}
.contactme_socialmedias{
  text-align: center;
  position: relative;
  top: 50%;
}
.contactme_socialmedias a{
  color: var(--white);
  padding: 10px;
  background-color: var(--black);
  border-radius: 20px;
}

.contact_contents h2{
  font-weight: 50;/* background-color: aqua; */
  text-align:center;
}

.contact_contents {
  position: relative;
  top: 50px;
  text-align: center;
}
.main_content input{
  /* background: #000; */
  padding: 13px;
  margin: 5px;
  width: 80%;
}

.halfinput{
  max-width: 38.5%;
}
.fullinput{
  width:98%;
}
.largebox{
  padding: 13px;
  margin: 5px;
  height:200px;
  max-height: 350px;
  min-width: 50%;
  max-width: 80%;
}
.contact_contents{
  height:700px;
}
.main_content label{
  text-align: end;
}
.send_button{
  padding: 10px 20px 10px 20px;
  border-radius: 0;
}
.changeLogo{
  border: none;
  background-color:var(--black);
  opacity: 20%;
  outline: none;
  font-size: 20px;
  color: var(--white);
  padding: 5px 5px 0px 5px;
  border-radius: 50px;
  position:absolute;
  right: 10px;
  top: 10px;
  opacity: 50%;
}
.changeLogo:hover{
  /* opacity: 100%; */
  opacity: 90%;
  box-shadow: 0px 0px 5px 3px var(--black) ;
  transition: 0.3s;
}

h3 {
  text-align:center;
  border-bottom: 1px solid var(--black);
}

/*
mobile devices
*/
@media screen and (max-width:878px) {
  .contentintro .image{
    display: none;
    /* background: #000; */
  }
}